html, body { height: 100%; width: 100%; margin: 0; }

@font-face {
    font-family: GothamRounded;
    src: url(../fonts/GothamRoundedBook_21018.ttf);
}

/*salmon: FF724F*/
/*cream: FEFAE0*/
/*dark grey: 231F20*/
/*hazy blue: 7EBDC2*/
/*burnt orange: BB4430*/
/*light purple: D4CBE5*/

body {
	background-color: #FF724F;
	font-family: GothamRounded;
}

.vertical-partition {
	position: absolute;
	width: 2px;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flex-row {
	display: flex; /* or inline-flex */
  	flex-flow: row nowrap; /* is default: columns along the main-axis (row) and no wrapping to next lines */
}

.flex-row.baseline {
	align-items: baseline;
}

.flex-row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.header {
	height: 50px;
	width: 100%;
	background-color: #231F20;
	font-family: GothamRounded;
	color: #FEFAE0;
	position: fixed;
}

.header-title {
	font-size: 30px;
	text-transform: uppercase;
	position:absolute;
    top:50%;
    left: 10px;
    transform: translateY(-50%);
    color: #FEFAE0;
}

.banner-message {
	color: #BB4430;
	font-size: 10em;
	text-align: center;
	margin-top: 10%;
}

.start-button {
	background-color: #BB4430;
	text-align: center;
	border: 3px solid #231F20;
	padding: 5px 10px;
	border-radius: 50px;
	font-size: 1.5em;
	color: #FEFAE0;
	flex-grow: 1;
	transition: background-color 0.3s ease
}

.poker-table .start-button {
	max-width: 50%;
	padding: 10px 10px;
}

.start-button:hover {
	cursor: pointer;
	background-color: #843122;
}

#main-button {
	margin: 0 auto;
	border: 5px solid #231F20;
	padding: 5px 20px;
	font-size: 3em;
	width: 35%;
}

#admin-input {
	height: 40%;
	display: none;
	align-items: center;
}

#session-input {
	height: 40%;
	min-height: 300px;
	display: none;
	align-items: center;
}

#session-input {
	height: 40%;
	display: none;
}

.input {
	position: absolute;
    font: GothamRounded;
    flex-grow: 1;
}

.input__label-content {
	font-size: 1.5em;
}

.input__field {
	text-transform: uppercase;
	color: #FEFAE0;
}

.num-line {
	height: 90.5px;
	width: 100%;
}

.big-input-label {
	font-size: 2em;
	color: #BB4430;
	flex-grow: 1;
}

.number-input-field {
	max-width: 30%;
    background-color: #FEFAE0;
    border: 3px solid #BB4430;
    margin-left: 10px;
    font-size: 2em;
    color: #231F20;
    text-align: right;
    flex-grow: 1;
}

.danger-box {
	box-shadow: inset 0px 0px 10px 1px #F44336
}

.number-input-field.disabled {
	background-color: lightgrey;
}

.next {
	display: none;
}

.prev {
	flex-grow: 1;
}

#create-session {
	max-width: 200px;
	margin-left: 20%;
}

.nav-icon {
	flex-grow: 1;
	height: 50px;
	width: 50px;
	max-height: 50px;
	max-width: 50px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-aligned {
	vertical-align: baseline;
}

.horiz-centered {
	vertical-align: inherit;
}

.vert-centered {
	transform: translateY(-50%);
}

.container {
	height: 100%;
}

.session-title {
	margin-top: 50px;
	text-align: center;
	font-size: 2.5em;
}    

.inner-container {
	position: relative;
	height: 70%;
	background-color: #FEFAE0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 

}

.poker-table {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #BB4430;
	height: 50%;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px; 
	transform: translate(-50%, -50%);
}

.card-row {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	justify-content: center;
}

.seat {
	background-color: #7EBDC2;
	height: 70px;
	width: 70px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%; 
}

.seat.occupied {
	border: 3px solid #45686B;
}

.seat.folded {
	background-color: #7E8182;
    border: 3px solid rgba(255, 255, 255, .5);
}

.seat-title {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    color: #45686B;
}

.seat.action-on {
	box-shadow: 0 0 30px 10px #EF6F6C;
}

.folded .seat-title {
	color: #fff;
    opacity: .5;
}

.seat-title.unoccupied {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.seat-title.unoccupied.mutable:hover {
	cursor: pointer;
	opacity: 1;
}

#seat-1 {
	position: absolute;
	top:85%;
	left:-5%;
}

#seat-2 {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	left:-13%;
}

#seat-3 {
	position: absolute;
	bottom:85%;
	left:-5%;
}

#seat-4 {
	position: absolute;
	top: -33%;
	left: 17%;
}

#seat-5 {
	position: absolute;
	top: -33%;
	left: 50%;
	transform: translateX(-50%);
}

#seat-6 {
	position: absolute;
	top: -33%;
	right: 17%;
}

#seat-7 {
	position: absolute;
	bottom:85%;
	right:-5%;
}

#seat-8 {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	right:-13%;
}

#seat-9 {
	position: absolute;
	top:85%;
	right:-5%;
}

.dealer-chip {
	position: absolute;
    top: 65%;
    right: -5%;
	height: 30px;
    width: 30px;
    background-color: #FEFAE0;
    border-radius: 30px;
    border: 2px solid #333;
}

.chip-text {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%,-45%);
    font-weight: bold;
    font-size: 1.1em;
}

.bet-num {
	color: #FEFAE0;
}

#bet-info-0 {
	position: absolute;
    top: 75%;
    right: 30%;
}

#bet-info-1 {
	position: absolute;
    top: 75%;
    left: 9%;
}

#bet-info-2 {
	position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

#bet-info-3 {
	position: absolute;
    top: 13%;
    left: 6%;
}

#bet-info-4 {
	position: absolute;
    top: 2%;
    left: 20%;
}

#bet-info-5 {
	position: absolute;
    top: 2%;
    left: 50%;
	transform: translateX(-50%);
}

#bet-info-6 {
	position: absolute;
    top: 2%;
    right: 20%;
}

#bet-info-7 {
	position: absolute;
    top: 13%;
    right: 6%;
} 

#bet-info-8 {
	position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

#bet-info-9 {
	position: absolute;
    top: 75%;
    right: 9%;
}

#show-cards-row-1 {
	position: absolute;
    top: 75%;
    left: 11%;
}

#show-cards-row-2 {
	position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

#show-cards-row-3 {
	position: absolute;
    top: 13%;
    left: 6%;
}

#show-cards-row-4 {
	position: absolute;
    top: 2%;
    left: 20%;
}

#show-cards-row-5 {
	position: absolute;
    top: 2%;
    left: 50%;
	transform: translateX(-50%);
}

#show-cards-row-6 {
	position: absolute;
    top: 2%;
    right: 20%;
}

#show-cards-row-7 {
	position: absolute;
    top: 13%;
    right: 6%;
}

#show-cards-row-8 {
	position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

#show-cards-row-9 {
	position: absolute;
    top: 75%;
    right: 11%;
}



.player-byline {
	width: 100px;
}

.seat-info-line {
	margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid #333;
}

.seat-stack {
	font-weight: bold;
    font-size: 1.5em;
}

#byline-1 {
	position: absolute;
	top: -50%;
	left: -120%;
}

#byline-2 {
	position: absolute;
	top: -50%;
	left: -120%;
}

#byline-3 {
	position: absolute;
	top: -50%;
	left: -120%;
}

#byline-4 {
	position: absolute;
	top: -50%;
	left: -120%;
}

#byline-5 {
	position: absolute;
	top: -50%;
	left: -120%;
}

#byline-6 {
	position: absolute;
	top: -50%;
	left: 70%;
	text-align: right;
}

#byline-7 {
	position: absolute;
	top: -50%;
	left: 70%;
	text-align: right;
}

#byline-8 {
	position: absolute;
	top: -50%;
	left: 70%;
	text-align: right;
}

#byline-9 {
	position: absolute;
	top: -50%;
	left: 70%;
	text-align: right;
}

.pot-dash {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -100%);
	border-radius: 10px 10px 0 0;
	background-color: #D4CBE5;
	border-top: 3px solid #736987;
	border-left: 3px solid #736987;
	border-right: 3px solid #736987;

	text-align: center;
}

.dash-pot {
	font-size: 1.8em;
	color: #736987;
}

.player-dash {
	position: fixed;
	bottom: 0;
	left: 50%;
	height: 30%;
	transform: translateX(-50%);
	background-color: #D4CBE5;
	border-radius: 10px 10px 0 0;
	padding: 0px;
}

.player-dash.action-on {
	box-shadow: 0 0 30px 10px #EF6F6C;
}

.dash-title {
	font-size: 25px;
	color: #736987;
	padding: 0 10px;
	flex-grow: 1;
}

.small-text {
	font-size: 1.2em;
}

.dash-stack {
	font-size: 2.2em;
	height: 30px;
	color: #FEFAE0;
	transform: translateY(9%);
	flex-grow: 1;
}

.button-col {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60%;
}

.dash-button {
	font-size: 20px;
	color: #FEFAE0;
	background-color: #9487AD;
	border: 2px solid #9487AD;
	border-radius: 20px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	flex: 1;
	max-height: 32px;
	transition: background-color 0.3s ease;
}

.dash-button:hover {
	background-color: #736987;
}

.dash-button.disabled {
	background-color: #ADB1B2;
	border: 2px solid #ADB1B2;
}


.button-input-container {
	position: relative;
	border: 2px solid #9487AD;
	overflow: hidden;
	border-radius: 20px;
	min-height: 32px;
}

.inner-button {
	font-size: 20px;
	color: #FEFAE0;
	background-color: none;
	padding: 2px;
	border-radius: 20px;
	text-align: center;
	margin: 0;
}

.button-text-input {
	float: left;
	width: 70px;
	background-color: #FEFAE0;
	color: #333;
	border: 0px;
	text-align: right;
}

.button-text-input.disabled {
	background-color: lightgrey;
}

.button-text-input:focus {
	outline-width: 0;
}

.card {
	position: relative;
	margin: 0 10px;
	background-color: #FEFAE0;
	border-radius: 10px;
	height: 140px;
	max-width: 98.328px;
	min-width: 98.328px;
	flex: 1;
}

.suit-icon {
	height: 25px;
}

.card-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
}

.poker-table .card {
	margin: 0 5px;
	height: 100px;
    max-width: 71.4px;
    min-width: 71.4px;
}

.poker-table .suit-icon {
	height: 17.5px;
}

.show-cards-row .card {
	margin: 0 2px;
	height: 50px;
    max-width: 35.7px;
    min-width: 35.7px;
    border-radius: 5px;
}

.show-cards-row .suit-icon {
	height: 8.75px;
}

.show-cards-row .suit-icon {
	height: 8.75px;
}

.show-cards-row .card-title {
	font-size: 30px;
}

.top-left-corner {
	position: absolute;
	top: 1%;
	left: 1%;
}

.bottom-right-corner {
	position: absolute;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
	bottom: 1%;
	right: 1%;
}

.spades {
	color: #231F20;
}

.hearts {
	color: #B10F2E;
}

.diamonds {
	color: #B10F2E;
}

.clubs {
	color: #231F20;
}