<!DOCTYPE html>
<html>
  <head>
    <title>Poker Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sweetalert.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/swal-forms.css') }}">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
  <div id="seat-number" data="{{results['player'].seat_num}}"></div>
  <div class="header xs-col-12">
        <a href="/">
            <div class="header-title"> Poker Lab 
            <img class="horiz-centered" src="{{ url_for('static', filename = 'img/spades-cream.png') }}" style="height: 23px;">
            <img class="horiz-centered" src="{{ url_for('static', filename = 'img/flask-outline.png') }}" style="height: 23px">
            </div>
        </a>
    </div>
    <div class="container">
        <div class="session-title" >{{results['session'].name.upper()}} Poker Room</div>
        <div class="row inner-container">
            <div class="col-xs-12">
            </div>
            <div class="col-xs-8 poker-table">
                {% for i in range(1, 11) %}
                    {% set vis_idx = (i - results['player'].seat_num) % 10 %}
                    {% if vis_idx != 0 %}
                        {% if results['filled_seats'][i] %}
                            <div class="seat occupied {% if (not results['currently_playing_seats'][i]) or results['folded_players'][i] %}folded {% endif %} {% if results['currently_playing_seats'][i] and results['seat_to_act'] == i %}action-on {% endif %}" id="seat-{{vis_idx}}">

                                <div class="seat-title" >{{results['usernames'][i][0].upper()}}</div>
                                <div class="player-byline" id="byline-{{vis_idx}}">
                                    <div>{{results['usernames'][i]}}</div>
                                    <hr class="seat-info-line" id="line-{{vis_idx}}">
                                    <div class="seat-stack">{% if results['stacks'][i] < 1000 %}{{'%0.2f' | format(results['stacks'][i]|float)}} {% else %}{{'%0.0f' | format(results['stacks'][i]|float)}} {% endif %}</div>
                                </div>
                                {% if results['button_seat'] == i %}
                                    <div class="dealer-chip">
                                        <div class="chip-text">D</div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if results['currently_playing_seats'][i] and results['current_bets'][i] > 0 %}
                                <div class="bet-info" id="bet-info-{{vis_idx}}">
                                    <img src="{{ url_for('static', filename = 'img/bet-icon.png') }}" style="height: 25px;">
                                    <div class="bet-num">{{results['current_bets'][i]}}</div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="seat unoccupied" id="seat-{{vis_idx}}">
                                <div class="seat-title unoccupied {% if results['player'].is_admin %}mutable {% endif %}" {% if results['player'].is_admin %}onclick="addPlayer({{i}})"{% endif %}>+</div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if results['currently_playing_seats'][i] and results['current_bets'][i] > 0 %}
                            <div class="bet-info" id="bet-info-{{vis_idx}}">
                                <img src="{{ url_for('static', filename = 'img/bet-icon.png') }}" style="height: 25px;">
                                <div class="bet-num">{{results['current_bets'][i]}}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="card-row flex-row">
                    {% if results['session'].poker_hand %}
                        {% for card in results['board'] %}
                            {% include 'card.html' %}
                        {% endfor %}
                    {% elif results['player'].is_admin %}
                        <div class="start-button" onclick="dealHand()">Deal 'Em, Cowboy!</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-centered player-dash {% if results['seat_to_act'] == results['player'].seat_num %}action-on {% endif %}">
            <div class="col-xs-3 col-centered pot-dash">
                <div class="dash-title small-text">Pot:</div>
                {% if results['session'].poker_hand %}
                    <div class="dash-pot">{{results['total_pot']}}</div>
                {% else %}
                    <div class="dash-pot">--</div>
                {% endif %}
            </div>
            <div class="col-xs-6" style="height: 100%">
                <div class="flex-row baseline" style="margin-bottom: 5px;">
                    <img src="{{ url_for('static', filename = 'img/column-chart.png') }}" style="height: 25px; transform: translateY(10%);">
                    <div class="dash-title">Stack:</div>
                    <div class="dash-stack">{{results['player'].stack_size}}</div>
                </div>
                <div class="flex-row" id="hole-cards-row">
                    {% if results['currently_playing_seats'][results['player'].seat_num] %}
                        {% for card in results['hole_cards'] %}
                            {% include 'card.html' %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="vertical-partition" style="background-color: #9487AD"></div>
            <div class="col-xs-6" style="height: 100%;">
                <div class="flex-col button-col col-xs-8">
                {% if results['currently_playing_seats'][results['player'].seat_num] %}
                    {% if results['can_bet'][results['player'].seat_num] %}
                        <div class="dash-button {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}" id="check-button" onclick="check()">Check</div>
                        <div id="bet-button-container" class="dash-button button-input-container {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}">
                            <input id='bet-input' class="button-text-input {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}" onkeypress="return isValidNumber(event.charCode)" {% if results['seat_to_act'] != results['player'].seat_num %}disabled{% endif %}>
                            <div class="inner-button {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}" id="bet-button" onclick="bet()">Bet</div>
                        </div>
                    {% else %}
                        {% if results['can_call'][results['player'].seat_num] %}
                            <div class="dash-button {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}" id="call-button" onclick="call()">Call</div>
                            {% if results['can_raise'][results['player'].seat_num] %}
                                <div id="raise-button-container" class="dash-button button-input-container {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}">
                                    <input id="raise-input" class="button-text-input {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}" onkeypress="return isValidNumber(event.charCode)" {% if results['seat_to_act'] != results['player'].seat_num %}disabled{% endif %}>
                                    <div class="inner-button {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}" id="raise-button" onclick="raise()">Raise</div>
                                </div>
                            {% else %}
                                <div class="dash-button {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}" id="all-in-button" onclick="allIn()">All In</div>
                            {% endif %}   
                        {% else %}
                            <div class="dash-button {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}" id="all-in-button" onclick="allIn()">All In</div>
                        {% endif %}
                    {% endif %}
                    <div class="dash-button {% if results['seat_to_act'] != results['player'].seat_num %}disabled {% endif %}" id="fold-button" onclick="fold()">Fold</div>
                {% endif %}
                </div>
            </div>
            
        </div>
      
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="{{url_for('static', filename= 'js/sweetalert.min.js')}}"></script>
    <script src="{{url_for('static', filename= 'js/swal-forms.js')}}"></script>
    <script src="{{url_for('static', filename= 'js/poker-session.js')}}"></script>
  </body>
</html>